<!DOCTYPE html>
<html>
    <head>
        <title>Solution | Assignment</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Roman Kirichik">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="/assets/favicon2.png">
        <link rel="apple-touch-icon" href="/assets/logo12.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/logo13.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/logo11.png">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/style-responsive.css">
        <link rel="stylesheet" href="/assets/animate.min.css">
        <link rel="stylesheet" href="/assets/vertical-rhythm.min.css">
        <link rel="stylesheet" href="/assets/owl.carousel.css">
        <link rel="stylesheet" href="/assets/magnific-popup.css">
            <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>


        <style type="text/css">

        * {
        box-sizing: border-box;
        font-family: 'Muli', sans-serif;
    }

    .card {
        margin-top: 70px;
        display: inline-block;
        position: relative;
        width: 100%;
        height: 300px;
        opacity: 0.85;
    }
    .front,.front1,.back1,
    .back {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 300ms;
        transition: -webkit-transform 300ms;
        transition: transform 300ms;
        transition: transform 300ms, -webkit-transform 300ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        border-radius: 5px;
    }
    .front {
        transform: rotateY(0deg);
        background: orangered;
        text-align: center;
        padding: 50px;
    }
    .back {

        background: yellow;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        padding: 10px 15px;
        color: #fff;
    }
    .front {
        transform: rotateY(0deg);
        background: orangered;
        text-align: center;
        padding: 30px;
    }
    .back {

        background: yellow;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        padding: 40px 15px;
        color: #fff;
    }
    .card:hover .front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    .card:hover .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

      .front .contact {
          height: 120px;
          width: 120px;
          border: 5px solid #B2DBBF;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 10px;
      }
    .front .name {
        display: inline-block;
        font-size: 48px;
        color: #fff;
    }
    .front .job {
        color: #fff;
        font-size: 40px;
    }
    .front hr {
        border: none;
        color: #B2DBBF;
        border: 1px solid;
    }
    .back .icon {
        fill: currentColor;
        color: inherit;
        height: 33px;
        width: 33px;
        margin-top: 15px;
        color: white;
    }
    .back .icon:hover {
        cursor: pointer;
        color: #648767;
    }
    .back .name1 {
        display: inline-block;
        font-size: 48px;
        color: #fff;
    }
</style>



    </head>
    

    <body class="appear-animate" ">
    
    
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
          <!-- Navigation panel -->

            <nav class="main-nav light stick-fixed" style="background-color: #f8f8f8">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="/assets/logo2.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                  <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><%=link_to "Home",users_dashboard_path,method: :get%>  </li>
                            <li class="active"><%=link_to "Report Card",users_dashboard_path,method: :get%>  </li>
                            <li class="active"><%=link_to "Profile",users_dashboard_path,method: :get%>  </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->
            
            
            <!-- Section -->
            <section style="width: 100%; height: 180vh; background-color:white ;">
                <div class="relative container align-left" style="padding-top: 75px;">
                   <h1 style="color:#f8c04d; font-weight: bold; font-size: 50px;">WELCOME USER!</h1>




                    <div style="display: flex; justify-content: space-between;">
                        <div>
  
                          <h1 style="color:grey; font-weight: bold; font-size: 35px;margin-bottom: 0px; ">YOUR COURSE</h1>
                            <hr class="hrstyle">
                        </div>
                        <div style="width: 0.1%;background-color: grey;">
                    
                        </div>

                        <div style="width: 50%">
                            
                            <h1 style="color:#f8c04d ;font-family: Open Sans;font-size: 80px;letter-spacing:0.2em; margin-bottom: 10px; margin-top: 0px;">DIGITAL LITERACY</h1>
                        </div>

               </div>
                <hr width="100%" style="background-color: grey;">
                  



                    <div style="display: flex; justify-content: space-between;">
                        <div>
  
                          <h1 style="color:grey; font-weight: bold; font-size: 35px;margin-bottom: 0px;width: 260.59px;text-align: center; ">MODULES</h1>
                            <hr class="hrstyle">
                        </div>

                        <div style="width: 50%">
                        </div>

               </div>



                <div style="display: flex;justify-content: space-around; flex-wrap: wrap;">
                    <div style="width: 30%;">
                        <div class='card'>
                            <div class='front' style="background-color: red;">
                                <br>
                                <br>
                                 <div style="font-size: 35px;">INTRODUCTION<br>TO<br>COMPUTERS </div>
                                <br>
                                <br>
                            </div>
                            <div class='back'style="background-color:dodgerblue;font-size: 20px;font-weight: bold;text-align: center;color: black;letter-spacing: 0.2em;font-family: Open Sans;">
                               <a href="Video.html"><p style="padding-top: 20px;">VIDEO</p></a>
                               <a href="#"><p>ASSIGNMENT</p></a>
                               <a href="#"><p>STUDY MATERIAL</p></a>
                            </div>
                        </div>
                    </div>
                    
                    <div style="width: 30%;">
                        <div class='card'>
                            <div class='front' style="background-color: green;">
                                <br>
                                <br>
                                 <div style="font-size: 40px;">OPERATING<br>SYSTEMS </div>
                                <br>
                                <br>
                            </div>
                            <div class='back'style="background-color:yellow;font-size: 20px;font-weight: bold;text-align: center;color: black;letter-spacing: 0.2em;font-family: Open Sans;">
                               <a href="#"><p style="padding-top: 20px;">VIDEO</p></a>
                               <a href="#"><p>ASSIGNMENT</p></a>
                               <a href="#"><p>STUDY MATERIAL</p></a>
                            </div>
                        </div>
                    </div>

                    <div style="width: 30%;">
                        <div class='card'>
                            <div class='front'>
                                <br>
                                <br>
                                 <div style="font-size: 35px;">INTRODUCTION<br>TO<br>INTERNET </div>
                                <br>
                                <br>
                            </div>
                            <div class='back'style="background-color:red;font-size: 20px;font-weight: bold;text-align: center;color: black;letter-spacing: 0.2em;font-family: Open Sans;">
                               <a href="#"><p style="padding-top: 20px;">VIDEO</p></a>
                               <a href="#"><p>ASSIGNMENT</p></a>
                               <a href="#"><p>STUDY MATERIAL</p></a>
                            </div>
                        </div>
                    </div>

                    <div style="width: 30%;">
                       <div class='card'>
                            <div class='front' style="background-color: darkcyan;">
                                <br>
                                <br>
                                 <div style="font-size: 32px;">COMMUNICATION<br>WITH<br>INTERNET</div>
                                <br>
                                <br>
                            </div>
                            <div class='back'style="background-color:orangered;font-size: 20px;font-weight: bold;text-align: center;color: black;letter-spacing: 0.2em;font-family: Open Sans;">
                               <a href="#"><p style="padding-top: 20px;">VIDEO</p></a>
                               <a href="#"><p>ASSIGNMENT</p></a>
                               <a href="#"><p>STUDY MATERIAL</p></a>
                            </div>                       
                        </div>
                    </div>

                    <div style="width: 30%;">
                       <div class='card'>
                            <div class='front' style="background-color: blue;">
                                <br>
                                <br>
                                 <div style="font-size: 35px;">APPLICATIONS<br>OF<br>INTERNET</div>
                                <br>
                                <br>
                            </div>
                            <div class='back'style="background-color:blueviolet;font-size: 20px;font-weight: bold;text-align: center;color: black;letter-spacing: 0.2em;font-family: Open Sans;">
                               <a href="#"><p style="padding-top: 20px;">VIDEO</p></a>
                               <a href="#"><p>ASSIGNMENT</p></a>
                               <a href="#"><p>STUDY MATERIAL</p></a>
                            </div>
                        </div>
                    </div>

                    <div style="width: 30%;">
                        <div class='card'>
                            <div class='front' style="background-color: orange;">
                                <br>
                                <br>
                                 <div style="font-size: 40px;">GOOGLE<br>SEARCH</div>
                                <br>
                                <br>
                            </div>
                            <div class='back'style="background-color:cyan;font-size: 20px;font-weight: bold;text-align: center;color: black;letter-spacing: 0.2em;font-family: Open Sans;">
                               <a href="#"><p style="padding-top: 20px;">VIDEO</p></a>
                               <a href="#"><p>ASSIGNMENT</p></a>
                               <a href="#"><p>STUDY MATERIAL</p></a>
                            </div>
                        </div>
                    </div>

                </div>








                </div>
            </section>
            <!-- End Section -->

            
            
            <!-- Divider -->
            <hr class="mt-0 mb-0 "/>
            <!-- End Divider -->
            



                        <!-- Footer -->
            <footer class="page-section bg-gray-lighter footer pb-40" style="padding-top: 50px;">
                <div style="display: flex; justify-content: space-around;">
                    
                    <div style="width: 20%;text-align: center; color: black;letter-spacing: 0.2em;">
                        <hr class="hrstyle">
                        <h2>ABOUT ENACTUS DTU</h2>
                        <p>WE, at Enactus DTU, apply entrepreneurial concepts to develop dynamic projects that take advantage of people’s inherent dexterity and aptitude at the center of improving their livelihoods.</p>
                        <hr class="hrstyle">
                    </div>

                    <div>
                                <!-- Footer Logo -->
                                <div style="display: flex;justify-content: center;">
                                    <div class="local-scroll wow fadeInUp" data-wow-duration="1.2s" style="width: 50%;">
                                        <a href="#top"><img src="/assets/Unnati.png" width="150" height="150" alt="" /></a>&nbsp;
                                    </div>
                                </div>
                                <!-- End Footer Logo -->

                                <div style="display: flex;justify-content: center;margin-bottom: 20px; ">
                                 <div style="width: 1px;height:50px;background-color:grey">
                                     
                                 </div>
                              </div>

                                <!-- Social Links -->
                                <div class="footer-social-links mb-xs-40">
                                    <a href="https://www.facebook.com/DTU2018RotaractMUN/?ref=br_rs" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/rotaractdtu?lang=en" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/rotaract_dtu/" title="Instagarm" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a href="https://rotaractdtu.wordpress.com" title="wordpress" target="_blank"><i class="fa fa-wordpress"></i></a>
                                    <a href="https://in.linkedin.com/company/rotaract-club-of-dtu" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>

                                </div>
                                <!-- End Social Links -->  
                                
                                <div style="display: flex;justify-content: center;margin-top:20px;margin-bottom: 10px; ">
                                 <div style="width: 1px;height:50px;background-color:grey">
                                     
                                 </div>
                              </div>
                                <!-- Footer Text -->
                                <div class="footer-text">
                                    <div class="footer-made">
                                        Made With <span style="color: #e25555;">&hearts;</span> by Enactus, Delhi Technological University
                                    </div>
                                </div>
                        <!-- End Footer Text --> 
                        

                     </div>


                     <div style="width: 20%;text-align: center; color: black;letter-spacing: 0.2em;">
                      
                      <hr class="hrstyle">
                       <h2 style="margin-bottom: 5px;">FACING AN ISSUE?</h2>
                        <h4>CONTACT US</h4>
                        <p>Mail Us:<br><a HREF="mailto:unnati.enactus.dtu@gmail.com">unnati.enactus.dtu@gmail.com</a></p>
                         <hr class="hrstyle">

                     </div>


                </div>
            </footer>

            <!-- End Footer -->
        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="/assets/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/SmoothScroll.js"></script>
        <script type="text/javascript" src="/assets/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="/assets/jquery.countTo.js"></script>
        <script type="text/javascript" src="/assets/jquery.appear.js"></script>
        <script type="text/javascript" src="/assets/jquery.sticky.js"></script>
        <script type="text/javascript" src="/assets/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="/assets/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/assets/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
        <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below 
        **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script type="text/javascript" src="/assets/wow.min.js"></script>
        <script type="text/javascript" src="/assets/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="/assets/all.js"></script>
        <script type="text/javascript" src="/assets/contact-form.js"></script>
        <script type="text/javascript" src="/assets/jquery.ajaxchimp.min.js"></script>
        <!--[if lt IE 10]>
                <script type="text/javascript" src="/assets/placeholder.js"></script><![endif]-->

<script src="/assets/main.js"></script> <!-- Resource jQuery -->
    </body>
</html>
