<% @title="Unnati Software" %>
<!DOCTYPE html>
<html>
    <head>
        <title>Enactus | Unnati Software</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="Roman Kirichik">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        
        <!-- Favicons -->
        <link rel="shortcut icon" href="/assets/favicon2.png">
        <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/apple-touch-icon-114x114.png">
        
        <!-- CSS -->
        <link rel="stylesheet" href="/assets/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/style-responsive.css">
        <link rel="stylesheet" href="/assets/animate.min.css">
        <link rel="stylesheet" href="/assets/vertical-rhythm.min.css">
        <link rel="stylesheet" href="/assets/owl.carousel.css">
        <link rel="stylesheet" href="/assets/magnific-popup.css">
<style>
    @import url('https://fonts.googleapis.com/css?family=Muli');
    * {
        box-sizing: border-box;
        font-family: 'Muli', sans-serif;
    }
    body {

        background-size: cover;
    }
    #container {
        width: auto;
        height: auto;
        margin-top: 60px;
        padding-bottom: 80px;
        -webkit-perspective: 800px;
        perspective: 800px;
        text-align: center;
    }
    #container h1 {
        color: black;
        margin-bottom: 30px;
        font-size: 70px;
    }
    #container > hr {
        border: none;
        border: 1px solid #fff;
        width: 80%;
    }
    .card {
        margin: 10px;
        margin-right: 50px;
        margin-left: 50px;
        display: inline-block;
        position: relative;
        width: 520px;
        height: 500px;
        opacity: 0.85;
    }
    .front,.front1,.back1,
    .back {
        width: 100%;
        height: 100%;
        position: absolute;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: -webkit-transform 300ms;
        transition: -webkit-transform 300ms;
        transition: transform 300ms;
        transition: transform 300ms, -webkit-transform 300ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        border-radius: 5px;
    }
    .front {
        transform: rotateY(0deg);
        background: orangered;
        text-align: center;
        padding: 30px;
    }
    .back {

        background: yellow;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        padding: 10px 15px;
        color: #fff;
    }
    .front {
        transform: rotateY(0deg);
        background: orangered;
        text-align: center;
        padding: 30px;
    }
    .back {

        background: yellow;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        padding: 40px 15px;
        color: #fff;
    }
    .card:hover .front {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
    }
    .card:hover .back {
        -webkit-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

      .front .contact {
          height: 120px;
          width: 120px;
          border: 5px solid #B2DBBF;
          border-radius: 50%;
          display: inline-block;
          margin-bottom: 10px;
      }
    .front .name {
        display: inline-block;
        font-size: 48px;
        color: #fff;
    }
    .front .job {
        color: #fff;
        font-size: 40px;
    }
    .front hr {
        border: none;
        color: #B2DBBF;
        border: 1px solid;
    }
    .back .icon {
        fill: currentColor;
        color: inherit;
        height: 33px;
        width: 33px;
        margin-top: 15px;
        color: white;
    }
    .back .icon:hover {
        cursor: pointer;
        color: #648767;
    }
    .back .name1 {
        display: inline-block;
        font-size: 48px;
        color: #fff;
    }
    .colblack{
        color: black;
    }
    .colwhite{
        color: white;
    }
</style>
        
    </head>
    <body class="appear-animate" >
        
        <!-- Page Loader -->        
        <div class="page-loader">
            <div class="loader">Loading...</div>
        </div>
        <!-- End Page Loader -->
        
        <!-- Page Wrap -->
        <div class="page" id="top">
            
            <br>
            <br>
            <br>
            <br>
            <!-- Fullwidth Slider -->
            <div class="home-section fullwidth-slider bg-dark" id="home">
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll fixed-height-small bg-dark-alfa-30" data-background="/assets/15.jpg">
                    <div class="js-height-parent container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <div class="hs-line-8 no-transp font-alt mb-40 mb-xs-10">
                                </div>
                                
                                <img src="/assets/Unnati.png" width="150px" height="150px">
                                <div class="hs-line-14 font-alt mb-50 mb-xs-10 " style="color: #ffc220; font-weight: bold; font-size: 100px; letter-spacing: 15px;">
                                    Unnati Software 
                                </div>
                                

                                <div class="local-scroll">
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->

                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->

                <section class="home-section bg-scroll fixed-height-small bg-dark-alfa-30" data-background="/assets/2.JPG">
                    <div class="js-height-parent container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-10">
                                
                                </h1>
                                
                                <img src="/assets/Unnati.png" width="150px" height="150px">
                                <div class="hs-line-14 font-alt mb-50 mb-xs-10 " style="color: #ffc220; font-weight: bold; font-size: 100px; letter-spacing: 15px;">
                                    Unnati Software
                                </div>
                                
                             
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
                
                <!-- Slide Item -->
                <section class="home-section bg-scroll fixed-height-small bg-dark-alfa-50" data-background="/assets/7.jpg">
                    <div class="js-height-parent container">
                        
                        <!-- Hero Content -->
                        <div class="home-content">
                            <div class="home-text">
                                
                                <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-10">
                                  
                                </h2>                       
                             
                                <img src="/assets/Unnati.png" width="150px" height="150px">
                             <div class="hs-line-14 font-alt mb-50 mb-xs-10 " style="color: #ffc220; font-weight: bold; font-size: 100px; letter-spacing: 15px;">
                                    Unnati Software
                                </div>
                                
                            </div>
                        </div>
                        <!-- End Hero Content -->
                        
                    </div>
                </section>
                <!-- End Slide Item -->
            
            </div>
            <!-- End Fullwidth Slider -->
            
            
            <!-- Navigation panel -->
            <nav class="main-nav light stick-fixed">
                <div class="full-wrapper relative clearfix">
                    <!-- Logo ( * your text or image into link tag *) -->
                    <div class="nav-logo-wrap local-scroll">
                        <a href="#top" class="logo">
                            <img src="/assets/logo2.png" alt="" />
                        </a>
                    </div>
                    <div class="mobile-nav">
                        <i class="fa fa-bars"></i>
                    </div>
                    <!-- Main Menu -->
                    <div class="inner-nav desktop-nav">
                        <ul class="clearlist scroll-nav local-scroll">
                            <li class="active"><%=link_to "Home",root_path,method: :get%>  </li>
                            <li><%=link_to "Login",new_user_session_path,method: :get%>  </li>
                            <li><%=link_to "Sign Up",new_user_registration_path,method: :get%>  </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navigation panel -->

            <section style="background-color:white;">
                <div class="row pt-60 pb-60">
                    <div class="col-md-6">
                        <a href="Login.html" style="width: 80%;
    height: 120px;
    display: inline-block;
    margin-left: 10%;
    background-color: #f8c04c;
    color: black;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid;
    text-align: center;
    text-decoration: none;
    padding-top: 10px;">Login</a>
                    </div>
                    <div class="col-md-6">
                        <a href="SignUp.html" style="width: 80%;
    height: 120px;
    display: inline-block;
    margin-left: 10%;
    background-color: #f8c04c;
    color: black;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid;
    text-align: center;
    text-decoration: none;
    padding-top: 10px">Sign-Up</a>
                    </div>
                </div>
            </section>

            <div id='container' style="background-color: #f7f7f7;">
                <h1 style="font-size: 100px;font-weight:bold;">OUR COURSES</h1>
                <hr class="hrstyle">
                <div class='card'>
                    <div class='front'>

                        <span class='name' style="font-weight: bold;">Course A</span>
                        <hr>
                        <br>
                        <br>
                        <br>
                        <br>
                        <span class='job' style="font-size: 50px;">DIGITAL LITERACY </span>
                    </div>
                    <div class='back'style="background-color:dodgerblue;font-size: 15px;font-weight: bold;">
                        <span class="name1" style="text-transform: uppercase";>Modules</span>
                                        <hr class="hrstyle">
                        <p class="colwhite">Introduction to Computers</p>
                        <p class="colwhite">Operating Systems</p>
                        <p class="colwhite">Introduction to Internet</p>
                        <p class="colwhite">Communication with Internet</p>
                        <p class="colwhite">Applications Of Internet</p>
                        <p class="colwhite">Google Search</p>
                    </div>
                </div>
                <div class='card'>
                    <div class='front' style="background-color: green">

                        <span class='name' style="font-weight: bold;">Course B</span>
                        <hr>
                        <br>
                        <br>
                        <br>
                        <br>
                        <span class='job' style="font-size: 45px;"> FINANCIAL LITERACY </span>
                    </div>
                    <div class='back' style="color: black;font-size: 13px;font-weight: bold;">
                        <span class="name1"style="color: black !important;text-transform: uppercase;">Modules</span>
                        <hr class="hrstyle">
                        <p class="colblack">Banking</p>
                        <p class="colblack">Introduction to Banking</p>
                        <p class="colblack">Cheque and ATM</p>
                        <p class="colblack">Pradhanmantri Mudra Yojna</p>
                        <p class="colblack">Social Security Schemes</p>
                        <p class="colblack">Pradhanmantri Jan Dhan Yojna</p>
                        <p class="colblack">Review</p>
                    </div>
                </div>


            </div>
            <br>


                    
    
            
            
            <!-- Footer -->
            <footer class="page-section footer pb-40" style="padding-top: 50px; background-color: white;">
                <div style="display: flex; justify-content: space-around;">
                    
                    <div style="width: 20%;text-align: center; color: black;letter-spacing: 0.2em;">
                        <hr class="hrstyle">
                        <h2>ABOUT ENACTUS DTU</h2>
                        <p>WE, at Enactus DTU, apply entrepreneurial concepts to develop dynamic projects that take advantage of people’s inherent dexterity and aptitude at the center of improving their livelihoods.</p>
                        <hr class="hrstyle">
                    </div>

                    <div>
                                <!-- Footer Logo -->
                                <div style="display: flex;justify-content: center;">
                                    <div class="local-scroll wow fadeInUp" data-wow-duration="1.2s" style="width: 50%;">
                                        <a href="#top"><img src="/assets/Unnati.png" width="150" height="150" alt="" /></a>&nbsp;
                                    </div>
                                </div>
                                <!-- End Footer Logo -->

                                <div style="display: flex;justify-content: center;margin-bottom: 20px; ">
                                 <div style="width: 1px;height:50px;background-color:grey">
                                     
                                 </div>
                              </div>

                                <!-- Social Links -->
                                <div class="footer-social-links mb-xs-40">
                                    <a href="https://www.facebook.com/DTU2018RotaractMUN/?ref=br_rs" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/rotaractdtu?lang=en" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/rotaract_dtu/" title="Instagarm" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a href="https://rotaractdtu.wordpress.com" title="wordpress" target="_blank"><i class="fa fa-wordpress"></i></a>
                                    <a href="https://in.linkedin.com/company/rotaract-club-of-dtu" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>

                                </div>
                                <!-- End Social Links -->  
                                
                                <div style="display: flex;justify-content: center;margin-top:20px;margin-bottom: 10px; ">
                                 <div style="width: 1px;height:50px;background-color:grey">
                                     
                                 </div>
                              </div>
                                <!-- Footer Text -->
                                <div class="footer-text">
                                    <div class="footer-made">
                                        Made With <span style="color: #e25555;">&hearts;</span> by Enactus, Delhi Technological University
                                    </div>
                                </div>
                        <!-- End Footer Text --> 
                        

                     </div>


                     <div style="width: 20%;text-align: center; color: black;letter-spacing: 0.2em;">
                      
                      <hr class="hrstyle">
                       <h2 style="margin-bottom: 5px;">FACING AN ISSUE?</h2>
                        <h4>CONTACT US</h4>
                        <p>Mail Us:<br><a HREF="mailto:unnati.enactus.dtu@gmail.com">unnati.enactus.dtu@gmail.com</a></p>
                         <hr class="hrstyle">

                     </div>


                </div>
            </footer>

            <!-- End Footer -->

        
        
        </div>
        <!-- End Page Wrap -->
        
        
        <!-- JS -->
        <script type="text/javascript" src="/assets/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/assets/bootstrap.min.js"></script>
        <script type="text/javascript" src="/assets/SmoothScroll.js"></script>
        <script type="text/javascript" src="/assets/jquery.scrollTo.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.localScroll.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.viewport.mini.js"></script>
        <script type="text/javascript" src="/assets/jquery.countTo.js"></script>
        <script type="text/javascript" src="/assets/jquery.appear.js"></script>
        <script type="text/javascript" src="/assets/jquery.sticky.js"></script>
        <script type="text/javascript" src="/assets/jquery.parallax-1.1.3.js"></script>
        <script type="text/javascript" src="/assets/jquery.fitvids.js"></script>
        <script type="text/javascript" src="/assets/owl.carousel.min.js"></script>
        <script type="text/javascript" src="/assets/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/imagesloaded.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.magnific-popup.min.js"></script>
        <!-- Replace test API Key "AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg" with your own one below 
        **** You can get API Key here - https://developers.google.com/maps/documentation/javascript/get-api-key -->
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZsDkJFLS0b59q7cmW0EprwfcfUA8d9dg"></script>
        <script type="text/javascript" src="/assets/gmap3.min.js"></script>
        <script type="text/javascript" src="/assets/wow.min.js"></script>
        <script type="text/javascript" src="/assets/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="/assets/jquery.simple-text-rotator.min.js"></script>
        <script type="text/javascript" src="/assets/all.js"></script>
        <script type="text/javascript" src="/assets/contact-form.js"></script>
        <script type="text/javascript" src="/assets/jquery.ajaxchimp.min.js"></script>
        <!--[if lt IE 10]>
                <script type="text/javascript" src="/assets/placeholder.js"></script><![endif]-->
        
    </body>
</html>
